<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

</style>
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

body {
    /* font-family: Arial, sans-serif; */
    background-color: DarkCyan;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    /* height: 100vh; */
    font-size: 20px;
}

img {
    height: 35px;
    width: 35px;
}

.input-container{
    width: 100%;
    max-width:500px;
    text-align: center;
    padding: 20px;
}

.input-container input{
    border:none;
    outline: none;
    padding: 12px;
    margin-block: 12px;
    border-radius: 4px;
    font-size: 16px;
}

.input-container input[type="text"]{
    width:100%;
    height: 30px;

}

.input-container input[type="button"]{
    color: white;
    background-color: black;
    color: rgb(245, 247, 248);
    font-weight: 700;
    margin-left: 8px;
    cursor: pointer;
    padding: 12px 24px;
    
}

.input-container input[type="button"]:hover{
    background-color: DarkSlateGray;
}

ul{
    width: 70%;
    height: 20%;
    /* max-width: 450px; */
}

  
ul li{
    /* height: 20px; */
    cursor: pointer;
    color: #000000;
    background-color: Gainsboro;
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    display: inline-block;
    justify-content:space-between;
    padding: 6px 12px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 4px;
    font-weight: 600;
    overflow: hidden;
    white-space: normal;  /* Allows text to wrap */
    word-break: break-word; /* Ensures text breaks instead of overflowing */

}

ul li:hover{
    background-color: Cornsilk;
}

ul li p{
    flex-grow: 1;
    width: 70%;
    padding: 2px;
    text-align: left;
    display: inline-block;
    
}

.btn{
    border: 1px solid black;
    outline: none;
    background: none;
    font-weight: 600;
    cursor: pointer;
    padding: 4px;
    margin: 24px;
      color: white;
    background-color: black;
    width: 80px; /* Set a fixed width */
    height: 40px; /* Set a fixed height */
    font-size: 16px; /* Adjust font size */
    border-radius: 5px; /* Optional: rounded corners */
    text-align: center; /* Center the text */
    display: inline-block; /* Ensure they stay inline */ */
}

.btn:hover{
    color: white;
    background-color: black;
}

.deleteBtn{
    background-color: #ff0000;
    
}

.editBtn{
    background-color: #008000;
}

 


